.containerD {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #282c34;

    color: white;
}

.leftD {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 80vh;
    margin: 30px 0px 10px 0;
    padding: 10px;
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(19, 18, 18);
    position: fixed;
    overflow-y: auto;
}

.item {

    background-color: rgb(115, 111, 119);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: white;

}

.item:hover {
    background-color: cornflowerblue;
}

.active {
    background-color: cornflowerblue;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.contAcordon{
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

/********************/
.content {
    background-color: #323336;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    border-radius: 15px;
    width: 65%;
    min-height: 80vh;
    font-size: 19px;
    position: relative;
    left: 195px;
}

.ancrage {
    font-size: 16px;
    text-decoration: 'none';
    color: 'white';
    margin-left: 5;
}
.video{
    width:560px ;height:315px
}

/* Responsive */
@media screen and (max-width:1300px) {
    .content {
        left: 175px;
    }
    .contAcordon{
        width: 90%;
    }
}

@media screen and (max-width:1190px) {
    .content {
        left: 165px;
    }
    
}

@media screen and (max-width:1140px) {
    .content {
        left: 155px;
    }
    .contAcordon{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    
}

@media screen and (max-width:1070px) {
    .content {
        left: 145px;
    }

}

@media screen and (max-width:1010px) {
    .content {
        left: 0;
        width: 80%;
        position: inherit;
    }
    
    .containerD {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .leftD {
        position: inherit;
        width: 80%;
        height: auto;
        border-radius: 15px;
    }
    .contAcordon{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

}

@media screen and (max-width:945px) {
    

    /***************/
    
    .content {
        background-color: #323336;
        width: 80%;
        min-height: 80vh;
        font-size: 19px;
        
    }
    
    
}
    @media screen and (max-width:680px) {
        .video{
            max-width:480px ;max-height:270px
        }
        .content {
            left: 0;
            width: 95%;
        }
        .leftD {
            width: 95%;
        }
        .contAcordon{
            width: 80%;
        }
        
    }